# This example file documents all available configuration variables with their
# default values. To use this with docker-compose, rename the file to 
# docker-compose.env and update any variables you wish to use.

## AUTHENTICATION
# User credentials for the Calibre database.
# These are legacy settings used when database connection was to calibre-server
# over HTTP(S). In order to improve book matching a source_filename custom 
# column has been added. Unfortunately the calibredb CLI tool does not support
# searching on custom columns so connecting to calibre-server was abandoned
# in favor of direct database access, which in turn bypasses authentication.

# These remain here in case connection ever reverts to HTTP(S). The values
# for the vars can be anything.
# CALIBREDB_USERNAME=calibredb
# CALIBREDB_PASSWORD=supersecret

## LOGGING
# Valid log levels: DEBUG, INFO, WARN, ERROR
# Log levels are not case sensitive.
# CALIBREDB_LOGLEVEL=DEBUG

## LIBRARY
# Set the path to the library folder that contains your Calibre database
# and files inside the container. Calibre utilities can connect to a 
# Calibre database over HTTP(S), however the consumption script requires
# direct access to the database file, so this must be a directory
# mounted in the container.
# CALIBREDB_LIBRARY=/books

## CONSUMPTION
# Set the path to the consumption folder in the calibredb container. Any 
# files added to this folder will be processed for addition into your
# Calibre database.
# CALIBREDB_CONSUMPTION_DIR=/addbooks

## TIME FORMAT
# Timestamp format to be used for logging. Defaults to ISO8601.
# Example default timestamp: 2021-02-21T18:51:09+0000
# CALIBREDB_TIME_FORMAT="%Y-%m-%dT%H:%M:%S%z"
