# This example file documents all available configuration variables with their
# default values. To use this with docker-compose, rename the file to 
# docker-compose.env and update any variables you wish to use.

## AUTHENTICATION
# A user with these credentials must be set up to work with 
# your Calibre database.
# CALIBREDB_USERNAME=calibredb
# CALIBREDB_PASSWORD=supersecret

## LOGGING
# Valid log levels: DEBUG, INFO, WARN, ERROR
# Log levels are not case sensitive.
# CALIBREDB_LOGLEVEL=DEBUG

## LIBRARY
# Set the path to the library folder that contains your Calibre database
# and files inside the container. Calibre utilities can connect to a 
# Calibre database over HTTP(S), however the consumption script requires
# direct access to the database file, so this must be a directory
# mounted in the container.
# CALIBREDB_LIBRARY=/books

## CONSUMPTION
# Set the path to the consumption folder in the calibredb container. Any 
# files added to this folder will be processed for addition into your
# Calibre database.
# CALIBREDB_CONSUMPTION_DIR=/addbooks

## TIME FORMAT
# Timestamp format to be used for logging. Defaults to ISO8601.
# Example default timestamp: 2021-02-21T18:51:09+0000
# CALIBREDB_TIME_FORMAT="%Y-%m-%dT%H:%M:%S%z"
